<div class="side-header">
  <img class="img-responsive side-header-logo" src="assets/images/logo2.jpg">
  <ul class="list-group list-group-flush">
    <li class="list-group-item" [routerLink] = "['posts']" routerLinkActive="active" >
      <span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp;Dashboards
    </li>
    <li class="list-group-item" [routerLink] = "['discussions', 'topics', 'general']" routerLinkActive="active">
      <img class="li-icon" src="https://png.icons8.com/ios/50/B9B9B9/active-directory-filled.png">&nbsp;&nbsp;Discussions
    </li>
    <li class="list-group-item" [routerLink] = "['profile']" routerLinkActive="active">
      <span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Profile
    </li>
    <li class="list-group-item">
      <img class="li-icon" src="https://png.icons8.com/ios/50/B9B9B9/groups-filled.png">&nbsp;&nbsp;Groups
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-folder-close"></span>&nbsp;&nbsp;Projects
    </li>
    <li class="list-group-item">
      <span class="glyphicon glyphicon-cog"></span>&nbsp;&nbsp;Settings
    </li>
  </ul>
</div>
