.side-header{
    height: 100%;
    background-color: #1e2642;
    border: none;
}

.side-header-logo{
    width: 100px;
    height: 100px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    border-radius: 50px;
}

.list-group {
    padding-left: 15px;
}

ul li{
    background: transparent;
    border: none;
    color: #adadad;
    cursor: pointer;
    margin-bottom: 25px;
    outline: none;
    margin-right: 16px;
    border-radius: 3px;
}

.li-icon{
  width: 14px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

@media only screen and (max-width: 1050px) {
    .side-header {
        display: none;
    }
}
