<div class="row" > <!-- (click)="popup()" -->
  <!-- <div class="col-md-12">
    <textarea disabled placeholder="Write something....!!!" class="display-post-textarea"></textarea>
    <div class="display-post-send">
      <ul>
        <li><span class="glyphicon glyphicon-picture"></span>&nbsp;&nbsp;
          <label for="display-post-img">Add Photo</label>
        </li>
        <li><span class="glyphicon glyphicon-link"></span>&nbsp;&nbsp;Link Address</li>
        <li><img src="assets/images/post-send2.png" class="display-post-send-img"></li>
      </ul>
    </div>
  </div> -->
  <div class="col-md-12">
    <app-write-post></app-write-post>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-show-post></app-show-post>
  </div>
</div>
