.list-group-item{
    height: 130px;
    background: transparent;
    color: #adadad;
    padding: 10px 60px 40px 40px;
    border: 1px solid #464646;
    cursor: pointer;
    border-radius: 5px;
    outline: none;
}

.list-group-item hr{
    border: 1px solid #464646;
    margin-top: 45px;
    margin-bottom: 10px;
}

.user-name{
    display: inline;
}

.user-img {
    width: 30px;
    height: 30px;
    border-radius: 25px;
}

.post-teaser{
    padding: 5px 35px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  z-index: 2;
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.list-group-item:hover{
  background: #1a2036;
}
