<div class="topic-detail-container">
  <div class="row topic-heading">
    <div class="col-md-12">
      <h2>{{ topic.topicHeading }}</h2>
      <p>Posted by {{ topic.topicByUserId }}</p>
    </div>
  </div>
  <div class="row topic-summary">
    <div class="col-md-10 col-md-offset-1">
      <p>{{ topic.topicSummary }}</p>
    </div>
  </div>
  <div class="row topic-comments">
    <div class="col-md-12">
      <ul>
        <li><img class="like-icon" src="https://png.icons8.com/ios/24/B9B9B9/facebook-like.png">Up Vote</li>
        <li><img class="comment-icon" src="https://png.icons8.com/windows/24/B9B9B9/topic.png">Comment</li>
      </ul>
    </div>
  </div>
</div>
