.show-posts{
    background: #101833;
    height: 400px;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.posts-container{
    padding-top: 20px;
}

.show-posts:hover {
    overflow-y: scroll;
}
