<div>
    <div class="row">
        <div class="col-md-10 col-md-offset-1 post-div">
            <div class="pull-left">
                <h1>General Discussions</h1>
                <h4>Post your topics here..!!</h4>
            </div>
            <div class="pull-right">
                <button class="btn btn-primary">Post</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <!--<app-topic-list></app-topic-list>-->
          <router-outlet></router-outlet>
        </div>
    </div>
</div>
