.side-header{
    position: fixed;
    height: 100%;
}

.top-header{
    position: fixed;
    z-index: 1000;
    padding-right: 0;
    padding-left: 0;
}

.dynamic-window{
    background: #1a2036;
    position: relative;
    height: 550px;
    margin-top: 5%;
    margin-left: 200px;
    border-radius: 20px;
    overflow: auto;
    width: 85%;
}

@media only screen and (max-width: 1050px) {
    .top-header {
      width: 100%;
    }

    .dynamic-window{
        width: 85%;
        margin-left: 10px;
    }

    .col-md-offset-2 {
        margin-left: 0;
        width: 100%;
    }
  }
