.post-textarea{
    width: 100%;
    height: 150px;
    background: #1e2642;
    border-radius: 10px 10px 0px 0px;
    padding: 50px 60px 50px 60px;
    font-size: 20px;
    color: white;
    border: none;
    resize: none;
    outline: none;
    margin-bottom: -5px;
}

#loaded-img-name{
    color: white;
    background: green;
    width: max-content;
    padding: 5px 0px 5px 25px;
    border-radius: 20px;
}

#del-post-img{
    cursor: pointer;
    color: black;
    background: white;
    font-size: 15px;
    padding: 0px 3px;
    margin-left: 30px;
    margin-right: 15px;
    border-radius: 20px;
}

.post-send {
    width: 100%;
    height: 50px;
    background: #1e2746;
    border-radius: 0px 0px 10px 10px;
    padding: 15px 1px;
}

input[type=file] {
    display: none;
}

label{
    cursor: pointer;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    float: left;
    color: #adadad;
    margin-left: 90px;
    cursor: pointer;
}

li:hover {
    color: white;
}

.post-send-img{
    width: 50px;
    height: 50px;
}
