.error-details{
  color: red;
  font-size: 11px;
  font-family: "Trebuchet MS", "Verdana", "sans-serif";
  font-style: italic;
}

.modal-body {
  padding: 15px 150px;
}

.modal-dialog{
  margin-top: 50px;
}

.btn--login {
  box-shadow: 2px 2px 10px #464646;
  margin-left: 110px;
}

.btn:focus {
  outline: none;
}

.signup__link{
    font-size: 1rem;
    font-weight: 900;
    text-decoration: underline;
    color: #337ab7;
}

.error-div{
  margin-top: 5px;
  font-size: 12px;
  color: red;
}

.fa-red {
  color: red;
  margin-right: 5px;
}

.error-msg {
  display: inline-block;
  font: 400 12px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  font-weight: bold;
  margin-bottom: 0;
}
