/* You can add global styles to this file, and also import other style files */

body {
  background-color: #1e2642;
  font-size: 15px;
  font-family: serif;
  /* background-color: #1a2036; */
}

::-webkit-scrollbar {
    width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
