.topic-main-header{
    color: #ececec;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 50px;
}

.topic-sub-headers{
    color: #c1c1c1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#topic-title{
    height: 35px;
    width: 800px;
}

#topic-body{
    height: 250px;
    width: 800px;
    max-width: 800px;
    min-width: 800px;
    min-height: 250px;
    overflow: scroll;
}

#topic-tags{
    display: inline-block;
    margin-right: 15px;
    height: 35px;
    width: 760px;
}

#btn-post-topic{
    position: absolute;
    right: 100px;
    bottom: 60px;
}

.selected-topic-tags-list{
    position: absolute;
    left: 30px;
    bottom: 52px;
}

.selected-topic-tags-item{
    display: inline;
    background: green;
    border-radius: 5px;
    color: white;
    padding: 3px 15px;
    margin: 8px;
}

.delete-selected-topic-tags{
    color: white;
    font-weight: 900;
    margin-left: 10px;
    margin-right: -5px;
    text-decoration: none;
}

.delete-selected-topic-tags:hover{
    cursor: pointer;
    color: blue;
}

.topic-tags-list-group{
    display: none;
    width: 800px;
}

.topic-tags-list-group-item{
    font-size: 16px;
    font-weight: 800;
}

.topic-tags-list-group-item:hover{
    cursor: pointer;
    color: #c1c1c1;
    background:#0066ff;
}

.empty-field{
    color: red;
    font-style: italic;
}